body{
	margin: 0;
	padding: 0;	
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.img{
	width: 100%;
}
article.post .content-wrapper{
	position: relative;
}

article.post .post-view {
	position: absolute;
	top: 0;
	left: 0;
	color: white;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	text-shadow: none;
	-webkit-tap-highlight-color: transparent;
	height: 100%;
	width: 100%;
	background-color: rgba(17,17,17,.95);
}

article.post.hover .post-view,
article.post:hover .post-view {
	opacity: .95;
	filter: alpha(opacity=95);
}

article.post .single-post button:hover,
article.post .single-post button:active,
article.post .single-post button{
	outline: none;
}

.play{
	width: 80px;
	height: 80px;
	display: inline-block;
	cursor: pointer;
	background-image: url(../img/play.png);
	background-size: cover;
}
.play.playing{
	background-image: url(../img/stop.png);
}